@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    font-family: 'Questrial', sans-serif;
    counter-reset: Serial;
}

.img-responsive {
    max-width: 100%;
}

header {
    position: relative;
    box-shadow: 0px 5px 4px 0px rgb(63 63 63 / 27%);
    width: 100%;
    background-color: #fff;
}

aside {
    min-height: 100vh;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #C2185B;
}

.btn-primary {
    background-color: #C2185B;
    border-color: #C2185B;
}

main.login {
    width: 400px;
}

section.full {
    width: 100%;
    min-height: 80vh;
    padding: 50px 0;
}

article.evento {
    width: 400px;
    text-align: center;
}

footer nav ul {
    list-style: none;
    display: flex;
}

footer nav ul li {
    padding: 10px;
}

.banner__img {
    height: 700px;
    object-fit: cover;
}

article.evento h2, 
article.evento h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

article.evento p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 72px;
}

article.evento span {
    margin-bottom: 1rem
}

.modal__tickets {
   /* display: none;*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    background-color: #fff;
}

.form__infos {
    text-align: center;
}

.carousel-caption {
    bottom: 40%;
    background-color: hsla(0, 0%, 100%, .9);
    padding: 1.25rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: .25rem;
    color: #C2185B;
}

.carousel-caption p {
    margin-bottom: 0;
}

.carouselBtn {
    margin-top: 1rem
}

.modal__reserves {
    width: 85%;
    max-width: 1000px;
}